@CHARSET "UTF-8";

body {
	
	font-family: sans-serif;
}

.box_login {
	width: 600px;
	background-color: white;
	border: 2px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	
	margin: 200px auto auto auto;
	
	
	
}

.box_login h2 {
	margin-left: 8px;
	font-size: 18px;
}
.box_login_sub {
	border-top: 2px solid #CCCCCC;
	margin-left: 8px;	
}

.form_row {
	padding: 2px; 
	margin-left: 5px;
	margin-top: 5px;
}

.form_row > label {
	
	display: block; /* bez ovoga width ne vrijedi*/
	width: 180px;
	
	margin-top: 2px;
	margin-right: 5px;
	
	float: left; /* bez ovoga input ide u donji red*/
	
	text-align: right;
	font-size: 12px;
	padding: 3px;
	
}

.form_row > input {
	
	/*display: block;*/
	width: 260px;
	font-size: 12px;
	padding: 3px;
	
}

.form_buttons {
	font-size: small;
	margin-top: 7px;
	margin-left: 200px;
}

.form_buttons > input[type=submit] {
	
	background-color: violet;
	color: white;
	width: 80px;
	padding: 3px;
	text-align: center;
	border: black solid 1px;
}

.form_link_bottom {
	font-size: small;
    margin-top: 7px;
    margin-left: 200px;
	margin-bottom: 10px;
}


.box_login_error_box {
	margin-top: 20px;
	margin-left: 8px;
	margin-right: 10px;
	margin-bottom: 12px;
	width: 92%;
	padding: 4px 4px 4px 8px;
	border: solid 2px pink;
	background-color: #CCCCCC;
}



/* register */

.box_reg {
   margin: 100px auto auto auto;
   border: solid 1px #CCCCCC;
   width: 650px;
   border-radius: 5px;
   background: transparent;
}

.box_reg_header {
   background: white;
}

.box_reg_header_img {
   margin-left: 12px;
   margin-top: 2px;
   margin-right: 8px;
   margin-bottom: 10px;   
   float: left;
}

.box_reg_header_right {
   margin-left: 8px;
   margin-top: 2px;
   background: white;
}

.box_reg_body {
   clear: left;
   background: #CCCCCC;
}

.box_reg_body select {
	
	border: solid 2px white;
	border-radius: 0px;
}

.box_reg_button {
   margin-left: 200px;
   margin-top: 20px;
   background-color: #CCCCCC;
   padding-bottom: 20px;
}

.box_reg_button > input[type=submit] {
	
	background-color: violet;
	border: black solid 1px;
	color: white;
	width: 80px;
	text-align: center;
	padding: 3px;
}


